*/ body {

    font-family: 'Roboto Mono', monospace;
    /* background-color: #efe2e4; */

}

div {
    animation-duration: 1.5s;
    animation-name: fadeIn;

}

@keyframes fadeIn {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


#attack {
    margin-bottom: 0px;

}

nav {
    background-color: #e3f2fd;
    margin-bottom: 1em;



}

.first {
    margin-bottom: 4em;
}

nav {
    transition: 1s;
}

nav:hover {

    background-color: rgb(155, 89, 218);


}
